@import '../handy-mixins';

* {
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
}

body {
  @include center(720px, 20px);

  outline: 1px dotted red;
}

.wrapper {
  outline: 1px dotted blue;
}

.container {
  @include clearfix;

  margin-bottom: 20px;

  > * {
    float: left;
  }
}

.inline-block-items li {
  @include inline-block;
}

.some-block {
  @include margin-auto;

  width: 480px;
}

input {
  @include placeholder {
    color: red;
    font-family: 'Verdana';
    font-style: italic;
  }

  width: 300px;
}